# Create AMITT website sql

Creates the sqlite file used as a datasource in the AMITT website tests.

In [19]:
hdatabase = "postgres://msenahnnwvuamr:227b5aeb1268572ab2d77f3158aecbdd50326bfff3026ab61aebb0fdcb0953a7@ec2-54-162-119-125.compute-1.amazonaws.com:5432/demudug8oqb3h0"
print(hdatabase)

postgres://msenahnnwvuamr:227b5aeb1268572ab2d77f3158aecbdd50326bfff3026ab61aebb0fdcb0953a7@ec2-54-162-119-125.compute-1.amazonaws.com:5432/demudug8oqb3h0

In [24]:
# Get AMITT variables

import pandas as pd
import sqlite3 as sql
import os
from sqlalchemy import create_engine
from generate_amitt_ttps import Amitt
pd.set_option('display.max_rows', 1000)


# Generate AMITT datasets
amitt = Amitt()

dbasetype = 'postgresql_local' #'sqlite' #'heroku'


# Create connection to database
if dbasetype == 'sqlite':
    # Generate minimal sqlite database from the Amitt variables
    conn = sql.connect('amittsite.sqlite')
elif dbasetype == 'postgresql_local':
    conn = create_engine('postgresql://sara:@localhost:5432/amittsite')
else:
    conn = create_engine("postgres://msenahnnwvuamr:227b5aeb1268572ab2d77f3158aecbdd50326bfff3026ab61aebb0fdcb0953a7@ec2-54-162-119-125.compute-1.amazonaws.com:5432/demudug8oqb3h0")

    
# Add table to database    
def add_table(dataframe, tablename, columns):    
    # Create sql-appropriate table from dataframe
    colnames = ', '.join(['{} TEXT NOT NULL'.format(col) for col in columns])
    newtable = dataframe[columns].copy().applymap(str)
    newtable['id'] = range(1,len(newtable)+1)
    
    # send to database
    if dbasetype == 'sqlite':
        conn.execute("DROP TABLE IF EXISTS {}".format(tablename))
        conn.execute('''CREATE TABLE {} (id INTEGER PRIMARY KEY AUTOINCREMENT, {});'''.format(tablename, colnames))
        newtable.to_sql(tablename, conn, index=False, if_exists='append')
        conn.commit()
    elif dbasetype == 'postgresql_local':
        newtable.to_sql(tablename, conn, index=False, if_exists='replace')
    else:
        newtable.to_sql(tablename, conn, index=False, if_exists='append')
    return newtable

# Build a cross-table
def object_tactics_techniques(objectcol, objecttable, crosstable):
    # objects to techniques
    ctech = crosstable.copy()
    ctech = ctech[(ctech['technique_id'] != '') & (~ctech['technique_id'].str.startswith('TA'))]
    ctech.rename(columns={'amitt_id':objectcol}, inplace=True)
    ctech['summary'] = 'N/A'

    # objects to tactics
    ctact = crosstable[crosstable['technique_id'].str.startswith('TA')].copy()
    ctact.rename(columns={'amitt_id':objectcol, 'technique_id': 'tactic_id'}, inplace=True)
    ctact['main_tactic'] = 'N'
    ctactmain = objecttable[['amitt_id', 'tactic_id']].copy()
    ctactmain.rename(columns={'amitt_id':objectcol}, inplace=True)
    ctactmain['main_tactic'] = 'Y'
    ctact = pd.concat([ctact, ctactmain], ignore_index=True, sort=False)
    ctact['summary'] = 'N/A'
    return(ctech, ctact)


#Load all the tables - Heroku needs them in correct order... 

#newtable = add_table(amitt.df_actortypes, 'actor_type', ['amitt_id', 'sector_id', 'framework_id', 'name', 'summary'])
# counter
newtable = add_table(amitt.df_counters, 'counter', ['amitt_id', 'tactic_id', 'metatechnique_id', 'name', 'summary'])
newtable = add_table(amitt.df_detections, 'detection', ['amitt_id', 'tactic_id', 'name', 'summary'])
# dataset
newtable = add_table(amitt.df_frameworks, 'framework', ['amitt_id', 'name', 'summary'])
# incident
# metatechnique
newtable = add_table(amitt.df_metatechniques, 'metatechnique', ['amitt_id', 'name', 'summary'])
newtable = add_table(amitt.df_phases, 'phase', ['amitt_id', 'name', 'rank', 'summary'])
# playbook
# reference
# response_type
# sector
newtable = add_table(amitt.df_tactics, 'tactic', ['amitt_id', 'phase_id', 'name', 'rank', 'summary'])
newtable = add_table(amitt.df_tasks, 'task', ['amitt_id', 'tactic_id', 'framework_id', 'name', 'summary'])
newtable = add_table(amitt.df_techniques, 'technique', ['amitt_id', 'tactic_id', 'name', 'summary'])

(ctech, ctact) = object_tactics_techniques('counter_id', amitt.df_counters, amitt.cross_counterid_techniqueid)
newtable = add_table(ctech, 'counter_technique', ['counter_id', 'technique_id', 'summary'])
newtable = add_table(ctact, 'counter_tactic', ['counter_id', 'tactic_id', 'main_tactic', 'summary'])

(dtech, dtact) = object_tactics_techniques('detection_id', amitt.df_detections, amitt.cross_detectionid_techniqueid)
newtable = add_table(dtech, 'detection_technique', ['detection_id', 'technique_id', 'summary'])
newtable = add_table(dtact, 'detection_tactic', ['detection_id', 'tactic_id', 'main_tactic', 'summary'])

if dbasetype == 'sqlite':
    conn.execute("DROP TABLE IF EXISTS {}".format('users'))
    conn.execute('''CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, username TEXT NOT NULL UNIQUE, password TEXT NOT NULL);''')
    conn.close()
else:
    dfusers = pd.DataFrame([['test','testing']], columns=['username', 'password'])
    usertable = add_table(dfusers, 'users', ['username', 'password'])

newtable

    detection_id tactic_id main_tactic summary   id
0         F00003      TA06           N     N/A    1
1         F00003      TA08           N     N/A    2
2         F00003      TA09           N     N/A    3
3         F00006      TA05           N     N/A    4
4         F00006      TA07           N     N/A    5
5         F00006      TA08           N     N/A    6
6         F00006      TA09           N     N/A    7
7         F00006      TA10           N     N/A    8
8         F00006      TA11           N     N/A    9
9         F00015      TA07           N     N/A   10
10        F00016      TA08           N     N/A   11
11        F00016      TA09           N     N/A   12
12        F00016      TA10           N     N/A   13
13        F00016      TA11           N     N/A   14
14        F00021      TA03           N     N/A   15
15        F00021      TA04           N     N/A   16
16        F00021      TA05           N     N/A   17
17        F00021      TA06           N     N/A   18
18        F00021      TA07           N     N/A   19
19        F00021      TA08           N     N/A   20
20        F00021      TA09           N     N/A   21
21        F00021      TA10           N     N/A   22
22        F00021      TA11           N     N/A   23
23        F00025      TA01           N     N/A   24
24        F00025      TA02           N     N/A   25
25        F00029      TA01           N     N/A   26
26        F00030      TA03           N     N/A   27
27        F00030      TA04           N     N/A   28
28        F00030      TA05           N     N/A   29
29        F00030      TA06           N     N/A   30
30        F00030      TA08           N     N/A   31
31        F00030      TA09           N     N/A   32
32        F00030      TA10           N     N/A   33
33        F00031      TA01           N     N/A   34
34        F00035      TA01           N     N/A   35
35        F00037      TA01           N     N/A   36
36        F00046      TA08           N     N/A   37
37        F00058      TA07           N     N/A   38
38        F00058      TA09           N     N/A   39
39        F00058      TA10           N     N/A   40
40        F00062      TA09           N     N/A   41
41        F00001      TA01           Y     N/A   42
42        F00002      TA01           Y     N/A   43
43        F00003      TA01           Y     N/A   44
44        F00004      TA01           Y     N/A   45
45        F00005      TA01           Y     N/A   46
46        F00006      TA01           Y     N/A   47
47        F00007      TA02           Y     N/A   48
48        F00008      TA03           Y     N/A   49
49        F00009      TA03           Y     N/A   50
50        F00010      TA03           Y     N/A   51
51        F00011      TA03           Y     N/A   52
52        F00012      TA03           Y     N/A   53
53        F00013      TA03           Y     N/A   54
54        F00014      TA03           Y     N/A   55
55        F00015      TA03           Y     N/A   56
56        F00016      TA03           Y     N/A   57
57        F00017      TA03           Y     N/A   58
58        F00018      TA03           Y     N/A   59
59        F00019      TA04           Y     N/A   60
60        F00020      TA04           Y     N/A   61
61        F00021      TA04           Y     N/A   62
62        F00022      TA04           Y     N/A   63
63        F00023      TA04           Y     N/A   64
64        F00024      TA04           Y     N/A   65
65        F00025      TA05           Y     N/A   66
66        F00026      TA05           Y     N/A   67
67        F00027      TA05           Y     N/A   68
68        F00028      TA06           Y     N/A   69
69        F00029      TA06           Y     N/A   70
70        F00030      TA06           Y     N/A   71
71        F00031      TA06           Y     N/A   72
72        F00032      TA06           Y     N/A   73
73        F00033      TA06           Y     N/A   74
74        F00034      TA06           Y     N/A   75
75        F00035      TA06           Y     N/A   76
76        F00036      TA06           Y     N/A   77
77        F00037      TA06           Y     N/A   78
78        F00038      TA06           Y     N/A   79
79        F00039      TA06           Y     N/A   80
80        F00040      TA06           Y     N/A   81
81        F00041      TA07           Y     N/A   82
82        F00042      TA07           Y     N/A   83
83        F00043      TA07           Y     N/A   84
84        F00044      TA08           Y     N/A   85
85        F00045      TA08           Y     N/A   86
86        F00046      TA08           Y     N/A   87
87        F00047      TA08           Y     N/A   88
88        F00048      TA08           Y     N/A   89
89        F00049      TA08           Y     N/A   90
90        F00050      TA08           Y     N/A   91
91        F00051      TA09           Y     N/A   92
92        F00052      TA09           Y     N/A   93
93        F00053      TA09           Y     N/A   94
94        F00054      TA09           Y     N/A   95
95        F00055      TA09           Y     N/A   96
96        F00056      TA09           Y     N/A   97
97        F00057      TA09           Y     N/A   98
98        F00058      TA10           Y     N/A   99
99        F00059      TA10           Y     N/A  100
100       F00060      TA10           Y     N/A  101
101       F00061      TA10           Y     N/A  102
102       F00062      TA11           Y     N/A  103
103       F00063      TA11           Y     N/A  104
104       F00064      TA11           Y     N/A  105
105       F00065      TA11           Y     N/A  106
106       F00066      TA11           Y     N/A  107
107       F00067                     Y     N/A  108
108       F00068                     Y     N/A  109
109       F00069                     Y     N/A  110
110       F00070       ALL           Y     N/A  111
111       F00071                     Y     N/A  112
112       F00072                     Y     N/A  113
113       F00073                     Y     N/A  114
114       F00074                     Y     N/A  115
115       F00075                     Y     N/A  116
116       F00076                     Y     N/A  117
117       F00077      TA03           Y     N/A  118
118       F00078      TA03           Y     N/A  119
119       F00079      TA05           Y     N/A  120
120       F00080      TA07           Y     N/A  121
121       F00081      TA09           Y     N/A  122
122       F00082      TA11           Y     N/A  123
123       F00083      TA11           Y     N/A  124
124       F00084      TA03           Y     N/A  125
125       F00085                     Y     N/A  126
126       F00086      TA02           Y     N/A  127
127       F00087                     Y     N/A  128
128       F00088                     Y     N/A  129
129       F00089      TA04           Y     N/A  130
130       F00090      TA01           Y     N/A  131
131       F00091      TA01           Y     N/A  132
132       F00092      TA09           Y     N/A  133
133       F00093      TA03           Y     N/A  134
134       F00094      TA07           Y     N/A  135

## test area

In [25]:
# Check which amitt variables we can see from here
print('{}'.format(vars(amitt).keys()))
vars(amitt)['df_actortypes']

dict_keys(['df_phases', 'df_frameworks', 'df_techniques', 'df_tasks', 'df_incidents', 'df_counters', 'df_detections', 'df_actortypes', 'df_resources', 'df_responsetypes', 'df_metatechniques', 'it', 'df_tactics', 'df_techniques_per_tactic', 'df_counters_per_tactic', 'phases', 'tactics', 'techniques', 'counters', 'metatechniques', 'actortypes', 'resources', 'num_tactics', 'cross_counterid_techniqueid', 'cross_counterid_resourceid', 'cross_counterid_actortypeid', 'cross_detectionid_techniqueid', 'cross_detectionid_resourceid', 'cross_detectionid_actortypeid'])

,amitt_id,name,summary,sector,viewpoint,longname
0,A001,data scientist,"Person who can wrangle data, implement machine...",All,both,A001 - data scientist
1,A002,target,Person being targeted by disinformation campaign,All,blue,A002 - target
2,A003,trusted authority,Influencer,All,both,A003 - trusted authority
3,A004,activist,,Civil Society,blue,A004 - activist
4,A005,community group,,Civil Society,blue,A005 - community group
5,A006,educator,,Civil Society,blue,A006 - educator
6,A007,factchecker,Someone with the skills to verify whether info...,Civil Society,blue,A007 - factchecker
7,A008,library,,Civil Society,blue,A008 - library
8,A009,NGO,,Civil Society,blue,A009 - NGO
9,A010,religious organisation,,Civil Society,blue,A010 - religious organisation
10,A011,school,,Civil Society,blue,A011 - school
11,A012,account owner,Anyone who owns an account online,General Public,both,A012 - account owner
12,A013,content creator,,General Public,both,A013 - content creator
13,A014,elves,,General Public,blue,A014 - elves
14,A015,general public,,General Public,blue,A015 - general public
15,A016,influencer,,General Public,both,A016 - influencer
16,A017,coordinating body,For example the DHS,Government,blue,A017 - coordinating body
17,A018,government,Government agencies,Government,both,A018 - government
18,A019,military,,Government,blue,A019 - military
19,A020,policy maker,,Government,blue,A020 - policy maker
20,A021,media organisation,,Media,both,A021 - media organisation
21,A022,company,,Other Company,blue,A022 - company
22,A023,adtech provider,,Other Tech Company,blue,A023 - adtech provider
23,A024,developer,,Other Tech Company,blue,A024 - developer
24,A025,funding_site_admin,Funding site admin,Other Tech Company,blue,A025 - funding_site_admin
25,A026,games designer,,Other Tech Company,both,A026 - games designer
26,A027,information security,,Other Tech Company,blue,A027 - information security
27,A028,platform administrator,,Other Tech Company,blue,A028 - platform administrator
28,A029,server admininistrator,,Other Tech Company,blue,A029 - server admininistrator
29,A030,platforms,,Social Media Company,blue,A030 - platforms
30,A031,social media platform adminstrator,Person with the authority to make changes to a...,Social Media Company,blue,A031 - social media platform adminstrator
31,A032,social media platform outreach,,Social Media Company,blue,A032 - social media platform outreach
32,A033,social media platform owner,Person with authority to make changes to a soc...,Social Media Company,blue,A033 - social media platform owner

In [1]:
import psycopg2
conn = psycopg2.connect(host="localhost", port = 5432, 
                        database="amittsite", user="sara", 
                        password="")
cur = conn.cursor()

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://sara:@localhost:5432/amittsite')
newtable.to_sql('test2', engine)