In [1]:
from generate_amitt_ttps import Amitt
amitt = Amitt()
amitt.generate_and_write_datafiles()

Updating ../counters/C00008.md
Updating ../counters/C00009.md
Updating ../counters/C00011.md
Updating ../counters/C00012.md
Updating ../counters/C00014.md
Updating ../counters/C00016.md
Updating ../counters/C00020.md
Updating ../counters/C00022.md
Updating ../counters/C00023.md
Updating ../counters/C00024.md
Updating ../counters/C00025.md
Updating ../counters/C00026.md
Updating ../counters/C00027.md
Updating ../counters/C00031.md
Updating ../counters/C00036.md
Updating ../counters/C00039.md
Updating ../counters/C00040.md
Updating ../counters/C00042.md
Updating ../counters/C00043.md
Updating ../counters/C00044.md
Updating ../counters/C00045.md
Updating ../counters/C00048.md
Updating ../counters/C00049.md
Updating ../counters/C00050.md
Updating ../counters/C00051.md
Updating ../counters/C00052.md
Updating ../counters/C00053.md
Updating ../counters/C00055.md
Updating ../counters/C00060.md
Updating ../counters/C00063.md
Updating ../counters/C00065.md
Updating ../counters/C00066.md
Updating ../counters/C00067.md
Updating ../counters/C00068.md
Updating ../counters/C00069.md
Updating ../counters/C00070.md
Updating ../counters/C00071.md
Updating ../counters/C00072.md
Updating ../counters/C00073.md
Updating ../counters/C00074.md
Updating ../counters/C00076.md
Updating ../counters/C00078.md
Updating ../counters/C00079.md
Updating ../counters/C00088.md
Updating ../counters/C00089.md
Updating ../counters/C00090.md
Updating ../counters/C00091.md
Updating ../counters/C00092.md
Updating ../counters/C00093.md
Updating ../counters/C00094.md
Updating ../counters/C00095.md
Updating ../counters/C00096.md
Updating ../counters/C00097.md
Updating ../counters/C00098.md
Updating ../counters/C00099.md
Updating ../counters/C00101.md
Updating ../counters/C00102.md
Updating ../counters/C00103.md
Updating ../counters/C00107.md
Updating ../counters/C00112.md
Updating ../counters/C00113.md
Updating ../counters/C00114.md
Updating ../counters/C00115.md
Updating ../counters/C00116.md
Updating ../counters/C00117.md
Updating ../counters/C00118.md
Updating ../counters/C00119.md
Updating ../counters/C00120.md
Updating ../counters/C00121.md
Updating ../counters/C00123.md
Updating ../counters/C00126.md
Updating ../counters/C00129.md
Updating ../counters/C00131.md
Updating ../counters/C00133.md
Updating ../counters/C00135.md
Updating ../counters/C00136.md
Updating ../counters/C00137.md
Updating ../counters/C00144.md
Updating ../counters/C00145.md
Updating ../counters/C00147.md
Updating ../counters/C00149.md
Updating ../counters/C00202.md
Updating ../counters/C00210.md
updated ../incidents_list.md
updated ../amitt_red_framework.md
updated ../amitt_red_framework_clickable.html
Writing ../counter_tactics/TA01counters.md
Writing ../counter_tactics/TA02counters.md
Writing ../counter_tactics/TA03counters.md
Writing ../counter_tactics/TA04counters.md
Writing ../counter_tactics/TA05counters.md
Writing ../counter_tactics/TA06counters.md
Writing ../counter_tactics/TA07counters.md
Writing ../counter_tactics/TA08counters.md
Writing ../counter_tactics/TA09counters.md
Writing ../counter_tactics/TA10counters.md
Writing ../counter_tactics/TA11counters.md
Writing ../counter_tactics/TA12counters.md
updated ../tactics_by_responsetype_table.md
Writing metatechniques/cleaningcounters.md
Writing metatechniques/countermessagingcounters.md
Writing metatechniques/data pollutioncounters.md
Writing metatechniques/daylightcounters.md
Writing metatechniques/dilutioncounters.md
Writing metatechniques/diversioncounters.md
Writing metatechniques/frictioncounters.md
Writing metatechniques/metatechniquecounters.md
Writing metatechniques/reduce resourcescounters.md
Writing metatechniques/removalcounters.md
Writing metatechniques/resiliencecounters.md
Writing metatechniques/scoringcounters.md
Writing metatechniques/targetingcounters.md
Writing metatechniques/verificationcounters.md
updated ../metatechniques_by_responsetype_table.md
Writing ../resources_needed/DHScounters.md
Writing ../resources_needed/NGOcounters.md
Writing ../resources_needed/activistscounters.md
Writing ../resources_needed/adtechcounters.md
Writing ../resources_needed/civil_societycounters.md
Writing ../resources_needed/community_groupscounters.md
Writing ../resources_needed/companiescounters.md
Writing ../resources_needed/content_creatorscounters.md
Writing ../resources_needed/data_scientistcounters.md
Writing ../resources_needed/datastreamscounters.md
Writing ../resources_needed/developerscounters.md
Writing ../resources_needed/educatorscounters.md
Writing ../resources_needed/elvescounters.md
Writing ../resources_needed/factcheckerscounters.md
Writing ../resources_needed/fundingcounters.md
Writing ../resources_needed/gamesdesignerscounters.md
Writing ../resources_needed/governmentcounters.md
Writing ../resources_needed/government:policymakerscounters.md
Writing ../resources_needed/influencerscounters.md
Writing ../resources_needed/influencers:trusted_authoritycounters.md
Writing ../resources_needed/infoseccounters.md
Writing ../resources_needed/librariescounters.md
Writing ../resources_needed/mediacounters.md
Writing ../resources_needed/militarycounters.md
Writing ../resources_needed/moneycounters.md
Writing ../resources_needed/platform_admincounters.md
Writing ../resources_needed/platform_admin:adtechcounters.md
Writing ../resources_needed/platform_admin:fundingsitescounters.md
Writing ../resources_needed/platform_admin:socialmediacounters.md
Writing ../resources_needed/platform_algorithmscounters.md
Writing ../resources_needed/platform_outreachcounters.md
Writing ../resources_needed/platformscounters.md
Writing ../resources_needed/publiccounters.md
Writing ../resources_needed/public:account_ownerscounters.md
Writing ../resources_needed/religious_organisationscounters.md
Writing ../resources_needed/schoolscounters.md
Writing ../resources_needed/server_admincounters.md
updated ../resources_by_responsetype_table.md

In [ ]:
vars(amitt)['tactics']

In [ ]:
vars(amitt).keys()

In [ ]:
###. TEST AREA

In [ ]:
def create_tactic_counters_string(tactic_id):
    table_string = '''
| Response types | Counters |
| -------------- | -------- |
'''
    tactic_counters = amitt.df_counters[amitt.df_counters['tactic_id']==tactic_id]
    row_string = '| {0} | [{1} {2}](../counters/{1}.md) |\n'
    for index, row in tactic_counters.sort_values(['responsetype', 'id']).iterrows():
        table_string += row_string.format(row['responsetype'], row['id'], row['name'])
    return table_string


def create_technique_counters_string(technique_id):
    table_string = '''
| Counters |
| -------- |
'''
    technique_counters = amitt.cross_counterid_techniqueid[amitt.cross_counterid_techniqueid['technique_id']==technique_id]
    technique_counters = pd.merge(technique_counters, amitt.df_counters[['id', 'name']])
    row_string = '| [{0} {1}](../counters/{0}.md) |\n'
    for index, row in technique_counters.sort_values('id').iterrows():
        table_string += row_string.format(row['id'], row['name'])
    return table_string

create_technique_counters_string('TA01')

In [ ]:
amitt.df_counters

In [ ]:
amitt.cross_counterid_techniqueid[amitt.cross_counterid_techniqueid['technique_id'] == 'T0006']

In [ ]:
amitt.cross_counterid_techniqueid

In [ ]:
import pandas as pd
technique_id='T0006'
xx = amitt.cross_counterid_techniqueid[amitt.cross_counterid_techniqueid['technique_id']==technique_id]
pd.merge(xx, amitt.df_counters[['id', 'name']])

In [ ]:
tactics=self.create_counter_tactics_string(row['id'])
techniques=self.create_counter_techniques_string(row['id'])
incidents=self.create_counter_incidents_string(row['id'])

In [ ]:
pd.pivot_table(amitt.df_counters[['tactic_id', 'responsetype','id']], index='responsetype', columns='tactic_id', aggfunc=len, fill_value=0)

In [2]:
amitt.cross_counterid_techniqueid

         id technique_id
6    C00008         TA01
6    C00008         TA06
6    C00008         TA08
6    C00008        T0006
6    C00008        T0009
..      ...          ...
182  C00145        T0015
182  C00145        T0046
183  C00147        T0060
185  C00149         TA12
185  C00149        T0020

[283 rows x 2 columns]

In [20]:
import pandas as pd
counter_id = 'C00145'
table_string = '''
| Counters these Techniques |
| ------------------------- |
'''
counter_techniques = amitt.cross_counterid_techniqueid[amitt.cross_counterid_techniqueid['id']==counter_id]
counter_techniques = pd.merge(counter_techniques, amitt.df_techniques[['id', 'name']].rename(columns={'id': 'technique_id'}))
row_string = '| [{0} {1}](../techniques/{0}.md) |\n'
for index, row in counter_techniques.sort_values('id').iterrows():
    table_string += row_string.format(row['id'], row['name'])

table_string

'\n| Counters these Techniques |\n| ------------------------- |\n| [C00145 Create hashtag](../techniques/C00145.md) |\n| [C00145 Search Engine Optimization](../techniques/C00145.md) |\n'

In [9]:
counter_techniques = amitt.cross_counterid_techniqueid[amitt.cross_counterid_techniqueid['id']==counter_id]

counter_techniques

         id technique_id
182  C00145        T0015
182  C00145        T0046

In [10]:
amitt.df_techniques[['id', 'name']]

       id                                              name
0   T0001  5Ds (dismiss, distort, distract, dismay, divide)
1   T0002                       Facilitate State Propaganda
2   T0003                      Leverage Existing Narratives
3   T0004                              Competing Narratives
4   T0005                        Center of Gravity Analysis
..    ...                                               ...
56  T0057                Organise remote rallies and events
57  T0058                                Legacy web content
58  T0059                                Play the long game
59  T0060                               Continue to amplify
60  T0061                                Sell merchandising

[61 rows x 2 columns]

In [17]:
pd.merge(counter_techniques, amitt.df_techniques[['id', 'name']].rename(columns={'id': 'technique_id'}))

       id technique_id                        name
0  C00145        T0015              Create hashtag
1  C00145        T0046  Search Engine Optimization

In [15]:
amitt.df_techniques[['id', 'name']].rename(columns={'id': 'technique_id'})

   technique_id                                              name
0         T0001  5Ds (dismiss, distort, distract, dismay, divide)
1         T0002                       Facilitate State Propaganda
2         T0003                      Leverage Existing Narratives
3         T0004                              Competing Narratives
4         T0005                        Center of Gravity Analysis
..          ...                                               ...
56        T0057                Organise remote rallies and events
57        T0058                                Legacy web content
58        T0059                                Play the long game
59        T0060                               Continue to amplify
60        T0061                                Sell merchandising

[61 rows x 2 columns]

In [19]:
amitt.df_techniques[amitt.df_techniques['id'] == 'T0015'][['id', 'name']]

       id            name
14  T0015  Create hashtag