In [1]:
import pandas as pd
from generate_amitt_ttps import Amitt
amitt = Amitt()
amitt.generate_and_write_datafiles()

updated ../amitt_red_framework.md
updated ../amitt_red_framework_clickable.html
updated ../amitt_blue_framework.md
updated ../amitt_blue_framework_clickable.html
updated ../phases_index.md
updated ../tactics_index.md
updated ../techniques_index.md
updated ../tasks_index.md
updated ../incidents_index.md
updated ../counters_index.md
Updating ../counters/C00194.md
updated ../metatechniques_index.md
updated ../actors_index.md
updated ../responsetype_index.md
updated ../detections_index.md
updated ../tactics_by_responsetype_table.md
updated ../metatechniques_by_responsetype_table.md

In [2]:
# Check which amitt variables we can see from here
print('{}'.format(vars(amitt).keys()))
vars(amitt)['tactics']

dict_keys(['df_phases', 'df_techniques', 'df_tasks', 'df_incidents', 'df_counters', 'df_detections', 'df_actors', 'df_resources', 'df_responsetypes', 'df_metatechniques', 'it', 'df_tactics', 'df_techniques_per_tactic', 'df_counters_per_tactic', 'phases', 'tactics', 'techniques', 'counters', 'metatechniques', 'actors', 'resources', 'num_tactics', 'cross_counterid_techniqueid', 'cross_counterid_resourceid', 'cross_counterid_actorid'])

{'TA01': 'Strategic Planning',
 'TA02': 'Objective Planning',
 'TA03': 'Develop People',
 'TA04': 'Develop Networks',
 'TA05': 'Microtargeting',
 'TA06': 'Develop Content',
 'TA07': 'Channel Selection',
 'TA08': 'Pump Priming',
 'TA09': 'Exposure',
 'TA10': 'Go Physical',
 'TA11': 'Persistence',
 'TA12': 'Measure Effectiveness'}

# TEST AREA

In [1]:
import pandas as pd
from generate_amitt_ttps import Amitt
amitt = Amitt()

In [13]:
ct = amitt.cross_counterid_techniqueid
ct['Weight'] = 1
ct = ct[ct['technique_id'].str.len() > 0]
ct.to_csv('../visualisations/cross_counterid_techniqueid.csv', index=False, header=['Source','Target', 'Weight'])
ct

         id technique_id  Weight
1    C00008         TA01       1
1    C00008         TA06       1
1    C00008         TA08       1
1    C00008        T0006       1
1    C00008        T0009       1
..      ...          ...     ...
120  C00165       T00025       1
126  C00174        T0001       1
138  C00197        T0007       1
138  C00197        T0011       1
140  C00202        T0025       1

[263 rows x 3 columns]