In [1]:
import pandas as pd
from generate_amitt_ttps import Amitt
amitt = Amitt()
amitt.generate_and_write_datafiles()

updated ../amitt_red_framework.md
updated ../amitt_blue_framework.md
updated ../amitt_red_framework_clickable.html
updated ../phases_index.md
updated ../tactics_index.md
Updating ../tactics/TA01.md
Updating ../tactics/TA02.md
Updating ../tactics/TA03.md
Updating ../tactics/TA04.md
Updating ../tactics/TA06.md
updated ../techniques_index.md
Updating ../techniques/T0001.md
Updating ../techniques/T0002.md
Updating ../techniques/T0006.md
Updating ../techniques/T0007.md
Updating ../techniques/T0008.md
Updating ../techniques/T0009.md
Updating ../techniques/T0012.md
Updating ../techniques/T0013.md
Updating ../techniques/T0014.md
Updating ../techniques/T0015.md
Updating ../techniques/T0019.md
Updating ../techniques/T0022.md
Updating ../techniques/T0023.md
Updating ../techniques/T0027.md
Updating ../techniques/T0043.md
Updating ../techniques/T0047.md
Updating ../techniques/T0048.md
Updating ../techniques/T0051.md
Updating ../techniques/T0055.md
Updating ../techniques/T0056.md
updated ../tasks_index.md
updated ../incidents_index.md
updated ../counters_index.md
Updating ../counters/C00006.md
Updating ../counters/C00009.md
Updating ../counters/C00010.md
Updating ../counters/C00011.md
Updating ../counters/C00012.md
Updating ../counters/C00013.md
Updating ../counters/C00014.md
Updating ../counters/C00016.md
Updating ../counters/C00017.md
Updating ../counters/C00019.md
Updating ../counters/C00022.md
Updating ../counters/C00024.md
Updating ../counters/C00026.md
Updating ../counters/C00027.md
Updating ../counters/C00073.md
Updating ../counters/C00153.md
Updating ../counters/C00159.md
Updating ../counters/C00170.md
Updating ../counters/C00174.md
Updating ../counters/C00176.md
Updating ../counters/C00207.md
Updating ../counters/C00220.md
Updating ../counters/C00221.md
updated ../metatechniques_index.md
Updating ../metatechniques/M001.md
Updating ../metatechniques/M003.md
Updating ../metatechniques/M004.md
Updating ../metatechniques/M006.md
Updating ../metatechniques/M007.md
Updating ../metatechniques/M010.md
Updating ../metatechniques/M012.md
Updating ../metatechniques/M013.md
updated ../actors_index.md
Updating ../actors/A005.md
Updating ../actors/A006.md
Updating ../actors/A007.md
Updating ../actors/A008.md
Updating ../actors/A009.md
Updating ../actors/A010.md
Updating ../actors/A017.md
Updating ../actors/A018.md
Updating ../actors/A020.md
Updating ../actors/A021.md
Updating ../actors/A027.md
Updating ../actors/A032.md
Updating ../actors/A033.md
updated ../responsetype_index.md
updated ../detections_index.md
updated ../tactics_by_responsetype_table.md
updated ../metatechniques_by_responsetype_table.md

In [ ]:
# Check which amitt variables we can see from here
print('{}'.format(vars(amitt).keys()))
vars(amitt)['tactics']

# TEST AREA

In [3]:
import pandas as pd
counts_table = pd.pivot_table(amitt.df_counters[['tactic_id', 'responsetype',
                                            'id']], index='responsetype', columns='tactic_id', aggfunc=len, fill_value=0)
counts_table

               id
tactic_id    TA01 TA02 TA03 TA04 TA05 TA06 TA07 TA08 TA09 TA10 TA11 TA12
responsetype
ALL             4    0    0    0    0    0    0    0    0    0    0    0
D2 Deny        11    0   10   11    2   13    7    7    3    1    1    0
D3 Disrupt      6    5    7    3    5    8    7    3   14    0    6    1
D4 Degrade      7    0    1    3    0    5    3    2    2    0    6    2
D5 Deceive      0    0    1    0    0    2    1    0    0    0    0    0
D6 Destroy      0    0    1    1    0    0    0    0    0    0    0    0
D7 Deter        4    0    1    0    0    5    0    3    0    1    0    0

In [4]:
counts_table.columns.get_level_values(1)

Index(['TA01', 'TA02', 'TA03', 'TA04', 'TA05', 'TA06', 'TA07', 'TA08', 'TA09',
       'TA10', 'TA11', 'TA12'],
      dtype='object', name='tactic_id')

In [7]:
coltype = 'responsetype'
rowtype = 'metatechnique_id'
rowname = 'metatag'
counts_table2 = pd.pivot_table(amitt.df_counters[[coltype, rowtype,'id']], 
                          index=rowtype, columns=coltype, aggfunc=len, 
                          fill_value=0) 
counts_table2['TOTALS'] = counts_table2.sum(axis=1)
counts_table2

                  id                                                      \
responsetype     ALL D2 Deny D3 Disrupt D4 Degrade D5 Deceive D6 Destroy
metatechnique_id
M001               0      10          7          7          0          0
M002               0       2         10          2          3          0
M003               0       6          8          2          0          1
M004               0      13          7          6          0          0
M005               0      15          4          0          0          0
M006               0       7          0          0          0          0
M007               4       3          6          0          0          0
M008               0       0          1          4          1          0
M009               0       0          5          1          0          0
M010               0       3          8          4          0          1
M011               0       2          1          0          0          0
M012               0       2          1          1          0          0
M013               0       1          6          3          0          0
M014               0       2          1          1          0          0

                          TOTALS
responsetype     D7 Deter
metatechnique_id
M001                    4     28
M002                    0     17
M003                    2     19
M004                    0     26
M005                    0     19
M006                    3     10
M007                    3     16
M008                    0      6
M009                    0      6
M010                    1     17
M011                    0      3
M012                    0      4
M013                    1     11
M014                    0      4

In [8]:
coltype = 'responsetype'
rowtype = 'tactic_id'
rowname = 'tacctic'
counts_table3 = pd.pivot_table(amitt.df_counters[[coltype, rowtype,'id']], 
                          index=rowtype, columns=coltype, aggfunc=len, 
                          fill_value=0) 
counts_table3['TOTALS'] = counts_table3.sum(axis=1)
counts_table3

              id                                                               \
responsetype ALL D2 Deny D3 Disrupt D4 Degrade D5 Deceive D6 Destroy D7 Deter
tactic_id
TA01           4      11          6          7          0          0        4
TA02           0       0          5          0          0          0        0
TA03           0      10          7          1          1          1        1
TA04           0      11          3          3          0          1        0
TA05           0       2          5          0          0          0        0
TA06           0      13          8          5          2          0        5
TA07           0       7          7          3          1          0        0
TA08           0       7          3          2          0          0        3
TA09           0       3         14          2          0          0        0
TA10           0       1          0          0          0          0        1
TA11           0       1          6          6          0          0        0
TA12           0       0          1          2          0          0        0

             TOTALS
responsetype
tactic_id
TA01             32
TA02              5
TA03             21
TA04             18
TA05              7
TA06             33
TA07             18
TA08             15
TA09             19
TA10              2
TA11             13
TA12              3

In [12]:
counts_table4 = pd.pivot_table(amitt.df_counters[['responsetype', 'metatechnique_id','id']], 
                          index='metatechnique_id', columns='responsetype', aggfunc=len, 
                          fill_value=0) 
counts_table4['TOTALS'] = counts_table4.sum(axis=1)
counts_table4

                  id                                                      \
responsetype     ALL D2 Deny D3 Disrupt D4 Degrade D5 Deceive D6 Destroy
metatechnique_id
M001               0      10          7          7          0          0
M002               0       2         10          2          3          0
M003               0       6          8          2          0          1
M004               0      13          7          6          0          0
M005               0      15          4          0          0          0
M006               0       7          0          0          0          0
M007               4       3          6          0          0          0
M008               0       0          1          4          1          0
M009               0       0          5          1          0          0
M010               0       3          8          4          0          1
M011               0       2          1          0          0          0
M012               0       2          1          1          0          0
M013               0       1          6          3          0          0
M014               0       2          1          1          0          0

                          TOTALS
responsetype     D7 Deter
metatechnique_id
M001                    4     28
M002                    0     17
M003                    2     19
M004                    0     26
M005                    0     19
M006                    3     10
M007                    3     16
M008                    0      6
M009                    0      6
M010                    1     17
M011                    0      3
M012                    0      4
M013                    1     11
M014                    0      4

In [10]:
amitt.df_counters

,id,name,metatechnique,summary,playbooks,actors,resources_needed,how_found,references,incident_ids,tactic,responsetype,notes,techniques,longname,tactic_id,tactic_name,metatechnique_id,metatechnique_name
67,C00001,Better models of info spread up the layers,M007 - metatechnique,,,,,2019-11-workshop,,,TA01 Strategic Planning,ALL,,,C00001 - Better models of info spread up the l...,TA01,Strategic Planning,M007,- metatechnique
68,C00003,How can we safeguard against extremists using ...,M007 - metatechnique,,,,,2019-11-workshop,,,TA01 Strategic Planning,ALL,,,C00003 - How can we safeguard against extremis...,TA01,Strategic Planning,M007,- metatechnique
69,C00004,Managing like a chronic disease,M007 - metatechnique,,,,,2019-11-workshop,,,TA01 Strategic Planning,ALL,,,C00004 - Managing like a chronic disease,TA01,Strategic Planning,M007,- metatechnique
70,C00005,"Policy: makers, terminology, elements: a) broa...",M007 - metatechnique,,,,,2019-11-workshop,,,TA01 Strategic Planning,ALL,,,"C00005 - Policy: makers, terminology, elements...",TA01,Strategic Planning,M007,- metatechnique
71,C00006,Charge for social media,M004 - friction,No corresponding AMITT technique.,,A033 - social media platform owner,,2019-11-workshop,,,TA01 Strategic Planning,D2 Deny,,,C00006 - Charge for social media,TA01,Strategic Planning,M004,- friction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,C00215,Use fraud legislation to clean up social media,M007 - metatechnique,,,A020 - policy maker,,2019-11-workshop,,,TA07 Channel Selection,D3 Disrupt,,,C00215 - Use fraud legislation to clean up soc...,TA07,Channel Selection,M007,- metatechnique
50,C00216,Use advertiser controls to stem flow of funds ...,M014 - reduce resources,,,A023 - adtech provider,,2019-11-workshop,,,TA05 Microtargeting,D2 Deny,,,C00216 - Use advertiser controls to stem flow ...,TA05,Microtargeting,M014,- reduce resources
45,C00217,Registries alert when large batches of newsy U...,M003 - daylight,,,A028 - platform administrator,,grugq,,,TA07 Channel Selection,D2 Deny,,,C00217 - Registries alert when large batches o...,TA07,Channel Selection,M003,- daylight
46,C00218,Censorship,M005 - removal,Alter and/or block the publication/disseminati...,,A031 - social media platform administrator,,grugq,Taylor81,,TA09 Exposure,D2 Deny,,,C00218 - Censorship,TA09,Exposure,M005,- removal
185,C00219,Add metadata to content - out of the control o...,M003 - daylight,,Add date and source to images,,,grugq,,,TA06 Develop Content,D3 Disrupt,,,C00219 - Add metadata to content - out of the ...,TA06,Develop Content,M003,- daylight

In [3]:
counts_table = pd.pivot_table(amitt.cross_counterid_resourceid.merge(amitt.df_counters[['id', 'responsetype']]), 
                          index='resource_id', columns='responsetype', aggfunc=len, 
                          fill_value=0)
counts_table['TOTALS'] = counts_table.sum(axis=1)

counts_table

              id                                                               \
responsetype ALL D2 Deny D3 Disrupt D4 Degrade D5 Deceive D6 Destroy D7 Deter
resource_id
               4      62         61         27          4          2       14
R001           0       1          0          0          0          0        0
R002           0       1          0          0          0          0        0
R003           0       0          2          0          0          0        0
R004           0       2          2          4          0          0        0

             TOTALS
responsetype
resource_id
                174
R001              1
R002              1
R003              2
R004              8

In [4]:
amitt.write_counts_table_to_file('resource', amitt.resources, counts_table, 'testfile.txt')

KeyError: ''

In [5]:
amitt.resources

{'R001': 'datastreams ',
 'R002': 'funding ',
 'R003': 'money ',
 'R004': 'platform algorithms ',
 'R005': 'slang translation',
 'R006': 'disinformation datasets'}

In [6]:
for index, counts in counts_table.iterrows():
    print('{} is {}'.format(index, counts))

 is         responsetype
id      ALL               4
        D2 Deny          62
        D3 Disrupt       61
        D4 Degrade       27
        D5 Deceive        4
        D6 Destroy        2
        D7 Deter         14
TOTALS                  174
Name: , dtype: int64
R001 is         responsetype
id      ALL             0
        D2 Deny         1
        D3 Disrupt      0
        D4 Degrade      0
        D5 Deceive      0
        D6 Destroy      0
        D7 Deter        0
TOTALS                  1
Name: R001, dtype: int64
R002 is         responsetype
id      ALL             0
        D2 Deny         1
        D3 Disrupt      0
        D4 Degrade      0
        D5 Deceive      0
        D6 Destroy      0
        D7 Deter        0
TOTALS                  1
Name: R002, dtype: int64
R003 is         responsetype
id      ALL             0
        D2 Deny         0
        D3 Disrupt      2
        D4 Degrade      0
        D5 Deceive      0
        D6 Destroy      0
        D7 Deter        0
TOTALS                  2
Name: R003, dtype: int64
R004 is         responsetype
id      ALL             0
        D2 Deny         2
        D3 Disrupt      2
        D4 Degrade      4
        D5 Deceive      0
        D6 Destroy      0
        D7 Deter        0
TOTALS                  8
Name: R004, dtype: int64

In [18]:
xx = amitt.cross_counterid_resourceid.merge(amitt.df_counters[['id', 'responsetype']], how='inner')
xx[xx['responsetype'].isin(amitt.resources.keys())]

Empty DataFrame
Columns: [id, resource_id, responsetype]
Index: []

In [13]:
xx['resource_id'].value_counts()

        174
R004      8
R003      2
R002      1
R001      1
Name: resource_id, dtype: int64